@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

body{
  background-color: black;
  color: rgba(245, 245, 245, 0.8);
  font-family: 'Raleway', sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.667));
}
/* .logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.667));
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* a:nth-of-type(2) .logo { */
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}








/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
